
body{
    font-family: sans-serif;
}
header{
    padding: 15px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #777;   
}   
header h1{
    color: white;
    max-width: 984px;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: bold;
    /* border: 1px solid red; */
}

h2{
    font-size: 1.5em;
}
table{
    border-collapse: collapse;
    border: solid 1px;
    width: 984px;
    height: 126px;
}
thead{
    background-color: #000;
    color: white;
}
th{
    padding: 20px;
}
main{
    margin: 0px auto;
    width: 984px;
    
   
}
.item_inline{
    display: flex;
    flex-direction: row;
    height: 33px;
    margin-bottom: 35px; 
    flex-wrap: wrap;
}
.item_inline input{
    width: 100%;
}
.item_inline label{
    flex-basis: 100%;
}

.formulario{
    width: 984px;
    display: flex;
    justify-content: space-between;

}
.label_formulario{
    padding: 10px 0;
    display: block;

}
#titulo_fomulario{
    margin-top: 40px;
    margin-bottom: 20px;
}
button{
    width: 131px;
    height: 42px;
    margin-top: 35px;
    float: right;
    background-color: #777;
    color: white; 
    font-weight: 500;  
    cursor: pointer;
}

