
body{
    font-family: sans-serif;
}
header{
    padding: 15px calc((100% - 984px) / 2);
    margin-bottom: 40px;
    background-color: #777;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
h2{
    font-size: 1.5em;
}
table{
    border-collapse: collapse;
    border: solid 1px;
    width: 984px;
    height: 126px;
}
thead{
    background-color: #000;
    color: white;
}
th{
    padding: 20px;
}
#corpo{
    margin: 0px auto;
    max-width: 984px;
    
   
}
.item_inline{
    display: flex;
    flex-direction: row;
    height: 33px;
    margin-bottom: 35px; 
    flex-wrap: wrap;
}
.item_inline input{
    flex: 1;
}
.item_inline label{
    flex-basis: 100%;
}

.formulario{
    width: 984px;
    display: flex;
    justify-content: space-between;

}
.label_formulario{
    padding: 10px 0;
    display: block;

}
#titulo_fomulario{
    margin-top: 40px;
    margin-bottom: 20px;
}
button{
    width: 131px;
    height: 42px;
    margin-top: 35px;
    float: right;
    background-color: #777;
    color: white; 
    font-weight: 500;  
    cursor: pointer;
}

